In [13]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
import tqdm
import tensorflow as tf
from sklearn.model_selection import train_test_split

In [2]:
train_csv = pd.read_csv("..\\train.csv") 
print(train_csv.head())

   image_id label  image_width  image_height  is_tma
0         4  HGSC        23785         20008   False
1        66  LGSC        48871         48195   False
2        91  HGSC         3388          3388    True
3       281  LGSC        42309         15545   False
4       286    EC        37204         30020   False

In [3]:
modified_train_csv = train_csv.copy()

In [4]:
train_path = "..\\train_images"
train_thumbnail_path = "..\\train_thumbnails"

In [5]:
new_column = []
for i in range(len(train_csv)):
    if (train_csv["is_tma"].iloc[i] == False):
        new_column.append(os.path.join(train_thumbnail_path, str(train_csv["image_id"].iloc[i]) + "_thumbnail.png"))
    else:
        new_column.append(os.path.join(train_thumbnail_path, str(train_csv["image_id"].iloc[i]) + ".png"))

In [6]:
modified_train_csv["image_path"] = new_column
modified_train_csv.head()

,image_id,label,image_width,image_height,is_tma,image_path
0,4,HGSC,23785,20008,False,..\train_thumbnails\4_thumbnail.png
1,66,LGSC,48871,48195,False,..\train_thumbnails\66_thumbnail.png
2,91,HGSC,3388,3388,True,..\train_thumbnails\91.png
3,281,LGSC,42309,15545,False,..\train_thumbnails\281_thumbnail.png
4,286,EC,37204,30020,False,..\train_thumbnails\286_thumbnail.png

In [7]:
# Create a test data out of this modified train csv
def getTheSplitData(csv):
    trainDf, testDf = train_test_split(csv, test_size=0.2, random_state=42, shuffle=True)
    return trainDf, testDf        

trainDf, validDf = getTheSplitData(modified_train_csv)

In [20]:
import tqdm
tiled_images_folder_path = "..\\train_tiled_thumbnail_images"
newDataFrame = pd.DataFrame(columns = ['image_id', 'label', 'image_path'])
image_id = []
label = []
image_path = []
for i in tqdm.tqdm(range(len(trainDf))):
    if(trainDf['is_tma'].iloc[i] == False):
        num_tiled_files  = os.listdir(os.path.join(tiled_images_folder_path, str(trainDf["image_id"].iloc[i])+"_thumbnail"))
        
        for j in range(len(num_tiled_files)): 
            image_id.append(trainDf["image_id"].iloc[i])   
            label.append(trainDf["label"].iloc[i])
            image_path.append(os.path.join(tiled_images_folder_path, str(trainDf["image_id"].iloc[i])+"_thumbnail", num_tiled_files[j]))
    
    
    
newDataFrame['image_id'] = image_id
newDataFrame["label"] = label
newDataFrame["image_path"] = image_path

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 430/430 [00:00<00:00, 636.83it/s]

In [24]:
newDataFrame.head()

   image_id label                                         image_path
0     45990    CC  ..\train_tiled_thumbnail_images\45990_thumbnai...
1     45990    CC  ..\train_tiled_thumbnail_images\45990_thumbnai...
2     45990    CC  ..\train_tiled_thumbnail_images\45990_thumbnai...
3     45990    CC  ..\train_tiled_thumbnail_images\45990_thumbnai...
4     45990    CC  ..\train_tiled_thumbnail_images\45990_thumbnai...

In [21]:
df_one_hot = pd.get_dummies(newDataFrame["label"], prefix="label").astype(int)
df_one_hot.head()

   label_CC  label_EC  label_HGSC  label_LGSC  label_MC
0         1         0           0           0         0
1         1         0           0           0         0
2         1         0           0           0         0
3         1         0           0           0         0
4         1         0           0           0         0

In [22]:
train_df = pd.concat([newDataFrame["image_id"], df_one_hot], axis=1)
train_df.head()

   image_id  label_CC  label_EC  label_HGSC  label_LGSC  label_MC
0     45990         1         0           0           0         0
1     45990         1         0           0           0         0
2     45990         1         0           0           0         0
3     45990         1         0           0           0         0
4     45990         1         0           0           0         0

In [25]:
train_thumbnail_paths = ""
train_df["image_thumbnail_path"] = newDataFrame['image_path']
train_df.head()

,image_id,label_CC,label_EC,label_HGSC,label_LGSC,label_MC,image_thumbnail_path
0,45990,1,0,0,0,0,..\train_tiled_thumbnail_images\45990_thumbnai...
1,45990,1,0,0,0,0,..\train_tiled_thumbnail_images\45990_thumbnai...
2,45990,1,0,0,0,0,..\train_tiled_thumbnail_images\45990_thumbnai...
3,45990,1,0,0,0,0,..\train_tiled_thumbnail_images\45990_thumbnai...
4,45990,1,0,0,0,0,..\train_tiled_thumbnail_images\45990_thumbnai...

In [26]:
image_thumbnail_paths = train_df["image_thumbnail_path"].values
labels = train_df[[col for col in train_df.columns if col.startswith("label_")]].values

In [30]:
print(labels)

[[1 0 0 0 0]
 [1 0 0 0 0]
 [1 0 0 0 0]
 ...
 [0 0 1 0 0]
 [0 0 1 0 0]
 [0 0 1 0 0]]

In [33]:
labels.shape

(34283, 5)

In [27]:
label_names = [col for col in train_df.columns if col.startswith("label_")]
name_to_id = {key.replace("label_", ""):value for value,key in enumerate(label_names)}
id_to_name = {key:value for value, key in name_to_id.items()}

In [28]:
import pickle
with open("id_to_name.pkl", "wb") as f:
    pickle.dump(id_to_name, f)

In [34]:
# Creating the Input Data Pipeline
def read_image(path):
    file = tf.io.read_file(path)
    image = tf.io.decode_png(file, 3)
    image = tf.image.resize(image, (256, 256))
    image = tf.image.per_image_standardization(image)
    return image

In [36]:
batch_size = 8


x = (
        tf.data.Dataset.from_tensor_slices(image_thumbnail_paths)
        .map(read_image, num_parallel_calls=tf.data.AUTOTUNE)
    )
y = tf.data.Dataset.from_tensor_slices(labels)

# Zip the x and y together
ds = tf.data.Dataset.zip((x, y))

# Create the training and validation splits
val_ds = (
    ds
    .take(5000)
    .batch(batch_size)
    .prefetch(tf.data.AUTOTUNE)
)
train_ds = (
    ds
    .skip(50)
    .shuffle(batch_size * 10)
    .batch(batch_size)
    .prefetch(tf.data.AUTOTUNE)
)

In [43]:
for x, y in train_ds:
    print(x[0].shape)
    break

(256, 256, 3)

In [46]:
IMAGE_WIDTH = 256
IMAGE_HEIGHT = 256
def transfer_learning():
    # Load the image and text backbones with presets
    backbone = tf.keras.applications.inception_v3.InceptionV3(include_top=False, weights='imagenet', input_shape=(IMAGE_WIDTH, IMAGE_HEIGHT, 3))
    backbone.trainable = False

    image_inputs = backbone.input
    image_embeddings = backbone(image_inputs)
    image_embeddings = tf.keras.layers.GlobalAveragePooling2D()(image_embeddings)
    x = tf.keras.layers.BatchNormalization(epsilon=1e-05, momentum=0.1)(image_embeddings)
    x = tf.keras.layers.Dropout(0.1)(x)
    x = tf.keras.layers.Dense(units=512, activation="relu")(x)
    x = tf.keras.layers.Dropout(0.1)(x)
    x = tf.keras.layers.Dense(units=256, activation="relu")(x)
    outputs = tf.keras.layers.Dense(5, activation="softmax")(x)

    # Build the model with the Functional API
    model = tf.keras.Model(
        inputs=image_inputs,
        outputs=outputs,
    )
    return model

model = transfer_learning()
model.summary()

Model: "model_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_3 (InputLayer)        [(None, 256, 256, 3)]     0

 inception_v3 (Functional)   (None, 6, 6, 2048)        21802784

 global_average_pooling2d_2   (None, 2048)             0
 (GlobalAveragePooling2D)

 batch_normalization_284 (Ba  (None, 2048)             8192
 tchNormalization)

 dropout_4 (Dropout)         (None, 2048)              0

 dense_6 (Dense)             (None, 512)               1049088

 dropout_5 (Dropout)         (None, 512)               0

 dense_7 (Dense)             (None, 256)               131328

 dense_8 (Dense)             (None, 5)                 1285

=================================================================
Total params: 22,992,677
Trainable params: 1,185,797
Non-trainable params: 21,806,880
_________________________________________________________________

In [50]:
 model.compile(
        optimizer=tf.keras.optimizers.Adam(learning_rate=1e-3),
        loss=tf.keras.losses.CategoricalCrossentropy(),
        metrics=["accuracy"],
    )

history = model.fit(
    train_ds,
    epochs=5,
    validation_data=val_ds
)

Epoch 1/5
4280/4280 [==============================] - 651s 150ms/step - loss: 1.2601 - accuracy: 0.5406 - val_loss: 3.3385 - val_accuracy: 0.3044
Epoch 2/5
4280/4280 [==============================] - 888s 207ms/step - loss: 1.2709 - accuracy: 0.5262 - val_loss: 5.5982 - val_accuracy: 0.2970
Epoch 3/5
4280/4280 [==============================] - 947s 221ms/step - loss: 1.2762 - accuracy: 0.5129 - val_loss: 3.9007 - val_accuracy: 0.3384
Epoch 4/5
4280/4280 [==============================] - 939s 219ms/step - loss: 1.2378 - accuracy: 0.5210 - val_loss: 5.2815 - val_accuracy: 0.3784
Epoch 5/5
4280/4280 [==============================] - 947s 221ms/step - loss: 1.2225 - accuracy: 0.5218 - val_loss: 6.7156 - val_accuracy: 0.3916

In [51]:
tf.keras.models.save_model(
    model, "model_inception_v3_28_01_2023.hdf5", overwrite=True)

AttributeError: module 'keras.api._v2.keras' has no attribute 'saving'

In [8]:
# This is the inference part
# load the model if not loaded
model = tf.keras.models.load_model("model_inception_v3_28_01_2023.hdf5")

In [9]:
model.summary()

Model: "model_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_3 (InputLayer)        [(None, 256, 256, 3)]     0

 inception_v3 (Functional)   (None, 6, 6, 2048)        21802784

 global_average_pooling2d_2   (None, 2048)             0
 (GlobalAveragePooling2D)

 batch_normalization_284 (Ba  (None, 2048)             8192
 tchNormalization)

 dropout_4 (Dropout)         (None, 2048)              0

 dense_6 (Dense)             (None, 512)               1049088

 dropout_5 (Dropout)         (None, 512)               0

 dense_7 (Dense)             (None, 256)               131328

 dense_8 (Dense)             (None, 5)                 1285

=================================================================
Total params: 22,992,677
Trainable params: 1,185,797
Non-trainable params: 21,806,880
_________________________________________________________________

In [10]:
validDf.head()

,image_id,label,image_width,image_height,is_tma,image_path
485,57711,EC,60530,34049,False,..\train_thumbnails\57711_thumbnail.png
73,8213,HGSC,36683,25710,False,..\train_thumbnails\8213_thumbnail.png
348,40503,EC,61440,26709,False,..\train_thumbnails\40503_thumbnail.png
86,9509,HGSC,21288,20626,False,..\train_thumbnails\9509_thumbnail.png
456,54007,HGSC,21462,21749,False,..\train_thumbnails\54007_thumbnail.png

In [11]:
print("Length of valid df : ", len(validDf))

Length of valid df :  108

In [ ]:
# Function to check if the Tile is not completely black
def is_completely_black(image):
    if image is None:
        return False  # Unable to read image

    # Convert the image to grayscale
    gray_image = cv2.cvtColor(image, cv2.COLOR_BGR2GRAY)

    # Check if all pixel values are zero (black)
    return not cv2.countNonZero(gray_image)

# Function to create the Tiles
def create_image_tiles(input_path, output_folder, tile_size=(256, 256), overlap=0):
    """
    Create image tiles from large images.

    Parameters:
    - input_path: Path to the directory containing large images.
    - output_path: Path to the directory where tiles will be saved.
    - tile_size: Tuple representing the size of each tile (height, width).
    - overlap: Number of pixels for tile overlap. Use 0 for no overlap.

    Note: This example assumes that input images are in a single directory.
    """
    tiles_list = [] 
    img_path = os.path.join(input_path)#, filename) # for inpur path we have the whole image path
    img = cv2.imread(input_path)

    # Get image dimensions
    height, width, _ = img.shape

    # Calculate the number of tiles in each dimension
    num_tiles_height = int(np.ceil(height / (tile_size[0] - overlap)))
    num_tiles_width = int(np.ceil(width / (tile_size[1] - overlap)))

    # Iterate through each tile position
    for i in range(num_tiles_height):
        for j in range(num_tiles_width):
            # Calculate tile coordinates
            start_y = i * (tile_size[0] - overlap)
            end_y = min(start_y + tile_size[0], height)

            start_x = j * (tile_size[1] - overlap)
            end_x = min(start_x + tile_size[1], width)

            # Extract the tile from the image
            tile = img[start_y:end_y, start_x:end_x]

            # Save the tile if the size is (256, 256)
            if tile.shape == tile_size:
                # Save the tile if it's not completely black
                if is_completely_black(tile) == False:
                    tiles_list.append(tile)


    return tiles_list

In [12]:
predictionDataFrame = pd.DataFrame(columns = ['image_id', 'original_lable', 'predicted_label'])

In [15]:
for i in tqdm.tqdm(range(len(validDf))):
    image_path = validDf['image_path'].iloc[i]

100%|█████████████████████████████████████████████████████████████████████████████████████████| 108/108 [00:00<00:00, 109841.13it/s]

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107